/* ------------------------------- */
/* Hide scrollbar. */
body {
    overflow-y: hidden;
}
textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
     -webkit-appearance: none;
     border-radius: 0;
}
/* ------------------------------- */

/* ------------------------------- */
/* Inputs.                         */
#box{
    text-align: center;
}
#buttons {
    text-align: center;
}
#inp {
    resize: none;
    width: 300px;
    height: 300px;
    background-color: white;
    text-align: right;
    font-family: "Tahoma", sans-serif;
    word-wrap: break-word;
    border: 10px solid #000000;
    padding-right: 10px;
    margin-top: 120px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
}
#hiddenSpan {
    margin-left: 5px;
    border:    5px solid #aaaaaa;

    /* Make the text wrap like in the input. */
    max-width: 300px;

    display: inline-block;

    /* Paired with display allow the text to wrap. */
    word-wrap: break-word;
}
/* ------------------------------- */


/* ------------------------------- */
/* Screenshot button               */
#screen {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}
/* ------------------------------- */



/* ------------------------------- */
/* Button class                    */
.btn {
    width: 100px;
    height: 35px;
    padding: 5px 10px 5px 10px;
    border: 2px solid #000000;
    background-color: white;
    font-size: 15px;
    color: black;
    margin: 10px 5px 5px auto;
    font-weight: bold;
}
/* ------------------------------- */



/* ------------------------------- */
/* Style buttons.                  */
#style_minimal {
    border: 2px solid #aaaaaa;
    color: black;
    margin-left: auto;
}
#style_pop {
    border: 2px solid magenta;
    color: magenta;
}
#style_rich {
    background-color: #2ecfff;
    border: 2px solid #25a5cc;
    color: white;
}
#style_matte {
    background-color: #bbbaaa;
    border: 2px solid #aaaaaa;
    color: black;
}
/* ------------------------------- */


/* ------------------------------- */
/* Font Buttons.                   */
#font_tahoma {
    font-family: "Tahoma", sans-serif;
    margin-left: auto;
}
#font_roboto {
    font-family: "Roboto", sans-serif;
}
#font_times {
    font-family: "Times";
}
#font_courier {
    font-family: "Courier";
}

/* ------------------------------- */

